<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<%= form_for @user do |f| %>
				<%= f.text_field :firsname %>
				<%= f.text_field :email %>
				<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>