// Place all the styles related to the arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.author_name{
	border: none;
	background: none;
	font-weight: bold;
	pointer-events: none;
}