<br>
<% @users.each do |user| %>
  <div class="text-capitalize text-center">
  	<span class="font-weight-bold"><%= user.firsname %></span>
  	<%= user.category %>
  	 <%= link_to "Change", admin_user_path(user) %>
  </div>
  <hr>
<% end %>